*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
background-color: black;
}
body::before{
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 120%;
background: url("https://user-images.githubusercontent.com/33485020/108069438-5ee79d80-7089-11eb-8264-08fdda7e0d11.jpg");
}
nav{
    position: relative;
    padding: 0px 10px;
}
nav a img{
    width: 200px;
}
.signin{
position: absolute;
left: 50%;
top: 70%;
width: 430px;
padding: 60px;
border-radius: 4px;
background: rgba(0, 0, 0, .75);
transform: translate(-50%,-50%);
}
.signin h2{
    color: aliceblue;
    font-size: 2rem;
}
.signin form{
    margin: 25px 0 65px;
}
form .form{
    position: relative;
    height: 50px;
    margin-bottom: 16px;
}
.form input{
    height: 100%;
    width: 100%;
    background: #333;
outline: none;
border: none;
color: white;
font-size: 1rem ;
border-radius: 4px;
padding: 0 20px;
}
.form label{
position: absolute;
left: 20px;
top: 50%;
color: beige;
pointer-events: none;
font-size: 1rem;
transform: translateY(-50%);
transition: all 0.1s ease;
}
form button{
    background-color: red;
    width: 100%;
    padding: 16px 0;
    font-size: 1rem;
    border-radius: 8px;
    outline: none;
    color: aliceblue;
    cursor: pointer;
    margin: 25px 0 10px;
}
form .form-help{
display: flex;
justify-content: space-between;
}
form .remeber-me input{
    margin-right: 5px;
    color: #b3b3b3;
}
.signin :where(label, p, small, a){
color: #b3b3b3;
}
.signin p a{
    color: white;
}
.signin small{
    display: block;
    margin-top: 15px;
}
.signin small a{
    color: rgb(40, 40, 161);
}
.signin a{
    text-decoration: none;
}
.signin a:hover{
    text-decoration: underline;
}
